extend ../layout
block content
  .container-fluid.login-content
    .row-fluid
      .span9
        form
          legend Üye Girişi
          .form-actions.span10
            label(for='inputmail') E-Posta Adresin
            input#inputmail.input-xxlarge(type='text')
          .form-actions.span10
            label(for='inputsifre') Şifre
            input#inputsifre.input-xxlarge(type='text')
          .form-actions.span10
            label.checkbox
              input(type='checkbox')
              a.hatirla(href='#') Beni Hatırla
          .form-actions.span10
            button.giris.btn.btn-inverse.btn-large(type='submit') Giriş Yap
            span.sifre.help-inline.pull-right
              a(href='#') Şifremi unuttum
      .span3
        ul.uyecontent
          h3 Hemen Üye Olabilirim!
          li Siparişlerin durumunu takip ederim.
          li Üyelere özel kampanya ve indirimlerden yararlanırım.
          li İndirim ve kampanyaları e-bülten ile ilk ben duyarım.
          li Alışveriş listemi hazırlarım.
          li
            a(href='/account/register', title='Üyelik') Yeni Üyelik →
