.container-fluid.content
    .row-fluid
        .span3
          .modulecontent
            h3  E-MAGAZADA NELER OLUYOR?
            p
              b Hasan B.  
              | üye oldu
            p
              b Halil B.  
              | üye oldu
            p
              b Kadir S.  
              a(href="#")  Nacar 25-290006-ASRL2 
              | yorum yaptı
            p
              b Kenan S.  
              a(href="#")  Carrera CTM-292960-ABL2 
              | yorum yaptı
            p
              b Seyfi K.  
              a(href="#")    Guess GUI11528L1
              | ad'lı ürünü satın aldı
            p
              b Sinem K.  
              a(href="#")   Puma PU102391006
              | ad'lı ürünü satın aldı
          .kargo
            span.iller
              span
                span KARGO
                | İLE,
              | İSTANBUL - ANKARA - İZMİR
            span 1 (Bir) İş Günü Diğer İller 2 (İki) İş Gününde Ürün Teslimi Yapılır.
          .kurye
            span
              span KURYE
              | İLE,
            span 4 SAAT'TE TESLİMAT
          .sosyal
            span BİZİ TAKİP EDİNİZ:
            .nav
              li.facebook
                a(href='#')
              li.twitter
                a(href='#')
              li.google
                a(href='#')
        .span9.sagcontent
          .span3
            h3 Yeni eklenenler
            .span2.contentimg
              a(href='#')
                img(src='/images/saat.jpg')
              a.altyazi(href='#')
                h2 casio saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
            .span2.contentimg
              a(href='#')
                img(src='/images/saat.jpg')
              a.altyazi(href='#')
                h2 casio saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
          .span3
            h3 İndirimdekiler
            .span2.contentimg
              a(href='#')
                img(src='/images/saat2.jpg')
              a.altyazi(href='#')
                h2 puma saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
            .span2.contentimg
              a(href='#')
                img(src='/images/saat2.jpg')
              a.altyazi(href='#')
                h2 puma saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
          .span3
            h3 En çok incelenenler
            .span2.contentimg
              a(href='#')
                img(src='/images/saat3.jpg')
              a.altyazi(href='#')
                h2 swatch saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
            .span2.contentimg
              a(href='#')
                img(src='/images/saat3.jpg')
              a.altyazi(href='#')
                h2 bulova saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
          .span3
            h3 En çok satanlar
            .span2.contentimg
              a(href='#')
                img(src='/images/saat4.jpg')
              a.altyazi(href='#')
                h2 nacar saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
            .span2.contentimg
              a(href='#')
                img(src='/images/saat4.jpg')
              a.altyazi(href='#')
                h2 casio saat
              .alttab
                a.muted.pull-left(href='#') indirimli
                a.muted.pull-right(href='#') %20
    #footerust.container
      .span8
        p.muted
          | Türkiye’nin 1 numaralı online saat alışveriş sitesine hoş geldiniz,
          | Dünyanın en seçkin markaları, stoklarımızda bulunan 6926 saat modeli, 24738 adet stok miktarı ile,
          | en erken 4 saat, en geç 48 saat içerisinde kapınızda. Konyalı Saat tüm markaların yetkili satıcısıdır.
          | 3D Secure ödeme sistemi ile %100 güvenli alışveriş imkanı sağlıyoruz.
      .pagination
        ul
          li
            a(href='#') <
          li
            a(href='#') 1
          li
            a(href='#') >
