#Footer.container
    .span2
        ul.nav
          li.footername
            h3 Kurumsal
            a(href='#') Banka Hesapları
            a(href='#') Hakkımızda
            a(href='#') Mağazalarımız
      .span2
        ul.nav
          li.footername
            h3 Üyelik İşlemleri
            a(href='#') Üye Ol
            a(href='#') Üye Girişi
            a(href='#') Şifremi Hatırlat
      .span2
        ul.nav
          li.footername
            h3 Hizmet Politikamız
            a(href='#') Koşulsuz İade
            a(href='#') Değişim Hakkı
      .span2
        ul.nav
          li.footername
            h3 Sıkça Sorulan Sorular
            a(href='#') Sipariş Öncesi
            a(href='#') Sipariş Sonrası
            a(href='#') Değişim
      .span2
        ul.nav
          li.footername
            h3 Talep ve Takip
      .span3
        ul.nav
          li.footername
            h3 E-posta ile gelen ayrıcalıklar
            p
              | E-Posta adresinizi kaydederek Konyalı Saat’in
              | kampanya ve fırsatlarından yararlanın.
            form.navbar-form
              input.span2(type='text', placeholder='E-Posta adresiniz')
              button.btn.btn-mini(type='submit') Ekle
      .navbar.container
        ul.nav
          li.payment
          li.payment2
