#Header.navbar.navbar-inverse.navbar-top
    .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.tacirnetlogo.brand(href='#')
          .nav-collapse
            .nav
              li.login
                a(href='#') ÜYE GİRİŞİ
              li.register
                a(href='#') YENİ ÜYELİK
              li#cart
                a.username(href='#')
                  | Merhaba,
                  span  Ziyaretçi
                a.sepet(href='#')
                  | Sepetinde,
                  span  0 ürün 
                  | var
                a.cart-btn(href='#')