.navbar.contanier.menu
    .navbar-inner
        ul.nav
          li.divider-vertical
            a(href='#') Markalar
          li.divider-vertical
            a(href='#') İndirimli Saatler
          li.divider-vertical
            a(href='#') Moda Markaları
          li.divider-vertical
            a(href='#') Saat Markaları
          li.divider-vertical
            a(href='') Mağazalarımız
          li.divider-vertical
            a(href='#') İletişim
          li
            form.form-inline
              input.input-medium.urunarainput(type='text', placeholder='Ürün Ara')
              button.btn.urunara(type='submit') Ara